.icon {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  color: #656565;
}
.icon svg{
  height: 45px;
  width:45px;
}
.dropdown {
  position: absolute;
  transition: height 0.5s ease-in-out;
  top: 60px;
  background-color: #c7dbdd;
  z-index: 999;
  height: 0px;
  width: 175px;
  border-radius: 10px;
}
.inactive {
  height: 0px;
  overflow: hidden;
}

.active {
  height: 150px;
  overflow: hidden;
}
