.modalContainer{
    width: 99.2vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.40);
    position: absolute;
    top: 0;
    z-index: 2;
}

.modal{
    display: flex;
    flex-direction: column;
    width: 425px;
    background-color: #2C2C38;
    color: #E2E3E8;
    border-radius: 10px;
    min-height: 600px;

}
.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
}
.form{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
}
.formInfo{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.formInfo label{
    color: #ECECF1;
    font-weight: bold;
    font-size: 12px;
    margin-top: 15px;
}
.formInfo input{
    height: 30px;
    background: none;
    border: 2px solid #393945;
    color: #ECECF1;
    border-radius: 5px;
    margin-top: 5px;
}
.descriptionBox{
    height: 90px;
    background: none;
    border: 2px solid #393945;
    border-radius: 5px;
    margin-top: 5px;
    color: #ECECF1;
    resize: none;
}
.subTaskBtn{
    background-color: #FFFFFF;
    border-radius: 50px;
    height: 35px;
    border: none;
    color: #645FC6;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.submitBtn{
    background-color: #645FC6;
    border-radius: 50px;
    height: 35px;
    border: none;
    color: #FFF ;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
.statusSelect{
    height: 30px;
    background: none;
    border: 2px solid #393945;
    border-radius: 5px;
    color: #FFF;
}
.statusOption{
    background-color: #2C2C38;
}