.container{
    position: absolute;
    top: 0;
    left: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    height: 100px;
    border: 1px solid black
}