.container{
    position: absolute;
    top: 0;
    left: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 304px);
    height: 75px;
    background-color: #2C2C38;
    border: 2px solid #32323E;
    border-top: none;
    border-bottom: none;
    color: #EEEFF2;
}
.header {
    display: flex;
    justify-content: left;
    margin-left: 25px;
    align-items: center;
    color: #fff;
    position: relative;
  }
.headerIcon {
    font-size: 50px;
    margin: 5px 10px 0px 20px;
  }
.newTaskBtn {
    border-radius: 50px;
    background-color: #635EC2;
    border: none;
    height: 40px;
    width: 150px;
    color: #EEEFF2;
    font-size: 14px;
    font-weight: bold;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.options{
    background: none;
    color: grey;
    height: 35px;
    border: none;
    font-size: 34px;
}
@media screen and (max-width: 720px) {
    .container{
        left: 0;
        width: 100%;
    }

    .newTaskBtn{
        width: 50px;
    }
    .header{
        margin-left: 0px;
    }

}