.container {
  display: flex;
  min-height: 100%;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border: 2px solid #32323e;
  border-bottom: none;
  border-top: none;
  position: absolute;
  top: 0;
  transition: width 800ms ease;
}
.container.light {
  background-color: #ffffff;
  border: 2px solid #FAFAFA;
}
.container.dark {
  background-color: #2c2c38;
  border: 2px solid #32323e;
}

.container.hidden{
    width: 100px;
    transition: width 800ms ease;
}
.sidebarHeader {
  display: flex;
  justify-content: left;
  font-size: 20px;
  align-items: center;
}
.sidebarHeader.light {
  color: black;
}
.sidebarHeader.dark {
  color: #fff;
}
.boardCount {
  color: #6c7385;
  margin-left: 10%;
  font-weight: 600;
}
.headerIcon {
  font-size: 50px;
  margin: 5px 10px 0px 25px;
}
.active {
  background-color: #645fc6;
  color: #eeeff2 !important;
  width: 70%;
  padding: 12px;
  padding-left: 10%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}
.active p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.boardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #6c7385;
  cursor: pointer;
  margin-left: 10%;
  font-weight: bold;
}
.boardIcon {
  font-size: 22px;
  font-weight: normal;
  margin-right: 10px;
}
@media screen and (max-width: 720px) {
  .container {
    display: none;
  }
}
