.container{
    display: flex;
    height: 100vh;
    width: 20vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #2C2C38;
    border: 2px solid #32323E;
    border-bottom: none;
    color: #EEEFF2;
    position: absolute;
    top: 0;
}