.container{
    position:absolute;
    top: 10vh;;
    left: 20vw;
    border: 2px solid #32323E;
    border-bottom: none;
    background-color: #21212D;
    width: 79vw;
    height: 90vh;
    display: flex;
}