.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 275px;
    min-height: 100px;
    border-radius: 10px;
    cursor: pointer;
    gap: 15px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.container.light{
    background-color: #FEFEFE;
    color: black;
}
.container.dark{
    background-color: #2C2C38;
    color: white;
}
.title{
    font-weight: bold;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.subtasks{
    color: grey;
    padding: 0;
    margin: 0px 0px 0px 20px;
    font-size:12px;
}
.container:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.05);
}
.container.light:hover{
    background-color: #f8f8f8;
}
.container.dark:hover{
    background-color: #2E2C38;
}