.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2C2C38;
    width: 275px;
    min-height: 100px;
    border-radius: 10px;
    color: white;
    gap: 15px;
}
.title{
    font-weight: bold;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}
.subtasks{
    color: grey;
    padding: 0;
    margin: 0px 0px 0px 20px;
    font-size:12px;
}